*{
  box-sizing: border-box;
}

body{
	background-color: #fff;
	color: #333;
	font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	
}
a{
	color: #000;
	text-decoration: none;
	&:hover{
		color: #222;
		text-decoration: underline;

	}
}
h1{
	font-weight: 200;
}