@import "mixins";
*{
  box-sizing: border-box;
}

body{
	background-color: #fff;
	color: #333;
	font-family: -apple-system, 'Helvetica Neue', 'Lucida Grande', sans-serif;
	margin: 0;
	
}
a{
	color: #000;
	text-decoration: none;
	&:hover{
		color: #222;
		text-decoration: underline;

	}
}
h1{
	font-weight: 200;
}
p.footer{
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 1em;
	.info{
		&:before{
			content: " | ";
		}
		@include bp(ipad) {	  
			float: right;
			&:before{
				content: "";
			}

		}
	}	
	
}