@import "mixins";
*{
  box-sizing: border-box;
}

html, body{
	height: 100%;
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
}

body{
	background-color: #fff;
	color: #333;
	font-family: -apple-system, 'Helvetica Neue', 'Lucida Grande', sans-serif;
	margin: 0;
	line-height: 1.5;
	font-size: 0.66em;
	@include bp(ipad) {
		font-size: 0.75em;
	}
	@include bp(laptop) {
		font-size: 0.9em;
	}
	@include bp(desktop) {
		font-size: 1em;
	}
	
}
a{
	color: #000;
	text-decoration: none;
	&:hover{
		color: #222;
		text-decoration: underline;

	}
	&.active{
		font-weight: 600;
	}
}
h1{
	font-weight: 200;
}
p#footer{
	text-align: left;
	width: 100%;
	position: absolute;
	bottom: 0;		
	margin: 0;
	padding: 1em;
	.info{
		&:before{
			content: " | ";
		}
		@include bp(ipad) {	  
			float: right;
			&:before{
				content: "";
			}

		}
	}	
	
}