@import "global";


#top{

	p.copyright{
		text-align: center;
		width: 100%;
	}
}
.grid-item{
	display: inline-block;	
	overflow: hidden;
	height: 20vw;
	position: relative;
	// transition-delay: 1000ms;
	// transition-duration: 500ms;
	// transition-property: background-color;
	// transition-timing-function: ease-out;
	vertical-align: top;
	width: 20vw;
	// @media all and (min-width: 768px) {
	// 	border: 0.5em solid red;
	// }

	//background-color: white;


	&:nth-child(4n+4){
		padding-bottom: 40%;
		width: 40%;
	}
	&:nth-child(12n){
		padding-bottom: 60%;
		width: 60%;
	}
	&:nth-child(8){
		padding-bottom: 80%;
		width: 80%;
		
	}

	// &:nth-child(3n+1){
	// 	transition-delay: 1400ms;
	// }
	// &:nth-child(3n+2){
	// 	transition-delay: 1100ms;
	// }
	// &:nth-child(3n+3){
	// 	transition-delay: 1200ms;
	// }
	
	// &.complete{
	// 	background-color: black;
	// }

	

	a.preview{
		display: block;
		opacity: 0;
		position: absolute;
		// transition-delay: 200ms;
		// -webkit-transition-property: opacity, -webkit-filter;
		// transition-property: opacity, filter;
		// transition-timing-function: ease-out;
		width: 100%;
		// transition-duration: 500ms
		
	}
	.no-js &{
		padding-bottom: 25%;
		width: 25%;
		a.preview{
			opacity: 1;
		}		
	}
	

	&.complete a.preview{
		opacity: 1;
	}
	&.loading a.preview{
		// filter: blur(3px);
		opacity: 1;
		// @media all and (min-width: 480px) {
		// 	filter: blur(7px);
		// }
		// @media all and (min-width: 768px) {
		// 	filter: blur(15px);
		// }
		
	}
	
	// &:nth-child(3n+1) a.preview{
	// 	transition-delay: 100ms;
	// 	transition-duration: 900ms;
	// }
	// &:nth-child(3n+2) a.preview{

	// 	transition-delay: 300ms;
	// 	transition-duration: 600ms;
	// }
	// &:nth-child(3n+3) a.preview{
	// 	transition-delay: 0ms;
	// 	transition-duration: 700ms;
	// }

	img.artwork{		
		display: block;
		width: 100%;
	}
}

