@import "global";
div#now{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	h1{
		background-color: #fff;
		left: 0;
		opacity: 0.8;
		
		position: absolute;
		top: 0;
		width: 100%;

	}
	p.copyright{
		background-color: #fff;
		bottom: 0;
		left: 0;
		opacity: 0.8;
		position: absolute;
		text-align: right;
		width: 100%;
	}
}