@import "global";
div#now{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	p,h1{
		margin: 0;
		padding: 1em;
		background-color: #fff;
		opacity: 0.8;
		left: 0;		
		position: absolute;
		width: 100%;
	}

	h1{		
		top: 0;
	}
	p{
		
		bottom: 0;		
		text-align: right;
	}
}