@import "global";
div#now{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	p,h1{
		margin: 0;
		padding: 1em;
		background-color: rgba(255,255,255,0.66);
		left: 0;		
		position: absolute;
		width: 100%;
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
	}

	h1{		
		top: 0;
	}
	p{
		
		bottom: 0;		
		text-align: right;
	}
}