@import "global";



#graph{
	backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.66);
    padding: 6em 1em 3em;
}


.grid-item{
	display: inline-block;	
	overflow: hidden;
	position: relative;
	width: 25vw;
	height: 25vw;
	@include bp(ipad) {
		width: 20vw;
		height: 20vw;
	}
	@include bp(desktop) {
		width: 10vw;
		height: 10vw;
	}
	vertical-align: top;	

	a.preview{
		display: block;
	
		position: absolute;
		width: 100%;
		
	}
	
	img.artwork{		
		display: block;
		width: 100%;
	}
}



#top100grid{
	outline: 15px solid black;
	filter: blur(15px); //legacy for backdrop-filter
}



h1{
	margin: 0;
	//padding: 1em;
	position: absolute;
	right: 0;
	text-align: center;
	width: 100%;
	//color: #fff;
	padding: 1em 0.5em;
	line-height: 1.5;
	z-index: 100;
	@include bp(ipad) {
		text-align: right;
		line-height: 1;
		width: auto;
	}

}