@import "global";

.grid-item{
	display: inline-block;	
	overflow: hidden;
	height: 20vw;
	position: relative;
	// transition-delay: 1000ms;
	// transition-duration: 500ms;
	// transition-property: background-color;
	// transition-timing-function: ease-out;
	vertical-align: top;
	width: 20vw;
	// @media all and (min-width: 768px) {
	// 	border: 0.5em solid red;
	// }

	//background-color: white;


	&:nth-child(4n+4){
		height: 40vw;
		width: 40vw;
	}
	&:nth-child(12n){
		height: 60vw;
		width: 60vw;
	}
	&:nth-child(8){
		height: 80vw;
		width: 80vw;		
	}

	// &:nth-child(3n+1){
	// 	transition-delay: 1400ms;
	// }
	// &:nth-child(3n+2){
	// 	transition-delay: 1100ms;
	// }
	// &:nth-child(3n+3){
	// 	transition-delay: 1200ms;
	// }
	
	// &.complete{
	// 	background-color: black;
	// }

	

	a.preview{
		display: block;
	
		position: absolute;
		 
		// -webkit-transition-property: opacity, -webkit-filter;
		// transition-property: opacity, filter;
		opacity: 0;
		transition-property: opacity;
		transition-timing-function: ease-out;
		transition-delay: 0;
		transition-duration: 500ms;
		width: 100%;
		
	}
	#top100grid &{	
		width: 25vw;
		height: 25vw;
		padding-bottom: 0;
		@include bp(ipad) {
			width: 20vw;
			height: 20vw;
		}
		@include bp(desktop) {
			width: 10vw;
			height: 10vw;
		}

	}
	.no-js &{
		padding-bottom: 25%;
		width: 25%;
		height: auto;
		a.preview{
			opacity: 1;
		}	
	}
	
	

	&.complete a.preview{
		opacity: 1;
	}
	&.loading a.preview{
		// filter: blur(3px);
		opacity: 1;
		// @media all and (min-width: 480px) {
		// 	filter: blur(7px);
		// }
		// @media all and (min-width: 768px) {
		// 	filter: blur(15px);
		// }
		
	}
	
	&:nth-child(3n+1) a.preview{
		
		transition-duration: 400ms;
	}
	&:nth-child(3n+2) a.preview{

		
		transition-duration: 300ms;
	}
	&:nth-child(3n+3) a.preview{

		transition-duration: 200ms;
	}

	img.artwork{		
		display: block;
		width: 100%;
	}
}

.no-js{
	#listing{
		display: none;
	}
}

#listing{
	transform: translateY(120%);
}

