@import "global";

p#footer{
	background-color: rgba(255,255,255,0.66);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}



.grid-item{
	display: inline-block;	
	overflow: hidden;
	height: 20vw;
	position: relative;

	vertical-align: top;
	width: 20vw;



	&:nth-child(4n+4){
		height: 40vw;
		width: 40vw;
	}
	&:nth-child(12n){
		height: 60vw;
		width: 60vw;
	}
	&:nth-child(8){
		height: 80vw;
		width: 80vw;		
	}

	

	

	a.preview{
		display: block;
	
		position: absolute;
		 
		// -webkit-transition-property: opacity, -webkit-filter;
		// transition-property: opacity, filter;
		opacity: 0;
		transition-property: opacity;
		transition-timing-function: ease-out;
		transition-delay: 0;
		transition-duration: 500ms;
		width: 100%;
		
	}


	&.complete a.preview{
		opacity: 1;
	}
	&.loading a.preview{
		
		opacity: 1;
		
		
	}
	
	&:nth-child(3n+1) a.preview{
		
		transition-duration: 400ms;
	}
	&:nth-child(3n+2) a.preview{

		
		transition-duration: 300ms;
	}
	&:nth-child(3n+3) a.preview{

		transition-duration: 200ms;
	}

	img.artwork{		
		display: block;
		width: 100%;
	}
}


#listing{
	transform: translateY(120%);
}

